<!DOCTYPE html>

<html ng-app="ShoppingListApp">
<!-- ng-app binds this tag block to the app -->
<head>
  <meta charset="utf-8">

  <!-- Libraries -->
  <script src="lib/angular.min.js" charset="utf-8"></script>

  <!-- Modules -->
  <script src="src/app.js" charset="utf-8"></script>
  <script src="src/spinner/spinner.module.js" charset="utf-8"></script>
  <script src="src/spinner/spinner.component.js" charset="utf-8"></script>

  <!-- Styles -->
  <link rel="stylesheet" href="lib/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="stylesheet" href="src/spinner/spinner.css">

  <title>Shopping List App</title>
</head>
<body>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span id="heading">
        Shopping List App
      </span>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h4><u>Note:</u></h4>
        <ol>
          <li>Both lists work independently &rightarrow; Using factory to create custom services</li>
          <li>Items may take 3-4 secs to add &rightarrow; Working implementation of promises</li>
          <li>Adding 'Maggi' is not allowed &rightarrow; It is unhealthy (My service says so)</li>
          <li>Maximum quantity allowed is 5 &rightarrow; To avoid wastage</li>
          <li>Both lists are being populated via same source &rightarrow; Using custom directive</li>
          <li>Items can also be added in either list via 'Quick Add' on the right &rightarrow; Using $broadcast to do that</li>
          <li>'Quick Add' items can be updated as required &rightarrow; No explaination. Really! Not everything has to be complicated</li>
        </ol>
      </div>
      <div class="col-md-5 quickadd" ng-controller="QuickAddController as quickadd">
        <h4><u>Quick Add:</u></h4>

        <div class="quickadd_main">
          <ul>
            <li ng-repeat="item in quickadd.listitems">
              <div class="col-md-3">
                {{item}}
              </div>
              <select ng-model="qty">
                <option value="" selected="">Select Qty</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="3">4</option>
                <option value="3">5</option>
              </select>
              <button ng-click="quickadd.addToListOne(item, qty)">Add to List 1</button>
              <button ng-click="quickadd.addToListTwo(item, qty)">Add to List 2</button>
            </li>
          </ul>

          <a class="quickadd_update_link">Update Items List</a>
        </div>

        <div class="quickadd_update" ng-hide="true">

        </div>
      </div>
    </div>

    <div class="row">

      <!-- List 1 -->
      <div class="col-md-6" ng-controller="ShoppingListOneController as list1">
        <shopping-list my-list="list1" title="Shopping List 1"></shopping-list>
        <spinner ng-if="list1.showSpinner"></spinner>
      </div>

      <!-- List 2 -->
      <div class="col-md-6" ng-controller="ShoppingListTwoController as list2">
        <shopping-list my-list="list2" title="Shopping List 2 (Max Items: {{list2.maxItems}})"></shopping-list>
        <spinner ng-if="list2.showSpinner"></spinner>
      </div>

    </div>
  </div>

</body>
</html>
