#heading {
  font-size: 25px;
  margin: 30px;
  color: #F7677B;
}
#list_container {
  min-height: 80vh;
}
input {
  padding-left: 5px;
}
.error{
  color: red;
  font-size: 15px;
}

h4{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #6296BC;
}

.total_items {
  margin-top: 20px;
  color: #A5ABAF;
}

.quickadd {
  background-color: #EDF1F2;
  margin-bottom: 20px;
}
.quickadd_buttons {
  text-transform: uppercase;
  font-size: 13px;
  margin: 10px 5px;
  padding: 5px 10px !important;
}
.quickadd_input {
  margin: 13px auto;
}
.quickadd_input input {
  width: 200px;
  margin: 3px;
}
.update_items_button {
  border: 1px solid #6296BC;
  color: #6296BC;
}
.done_button {
  border: 1px solid #21C452;
  color: #21C452;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.clearfix {
  clear: both;
}
.quickadd_update li {
  text-decoration: none;
}
.btn {
  border-radius: 0px;
  padding: 3px 12px;
}
.list-group {
  margin-bottom: 0px;
}
.list-group-item {
  padding: 4px 12px;
}
.dropdown {
  padding: 4px 12px;
  color: #555;
  vertical-align: inherit;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
